
body {
	font-family: 'Buenard', Helvetica, Arial, serif;
	font-size: 20px;

	/* adapted from http://lea.verou.me/css3patterns/#blueprint-grid */
  background-color:#aaccff;
  background-image:
	  linear-gradient(white 1px, transparent 1px),
    linear-gradient(90deg, white 1px, transparent 1px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #0000ff;
}

i {
	font-family: 'Gentium Basic', Helvetica, Arial, serif !important;
}

a:visited {
}

.main {
  background: #fff;
  border-radius: 8px;
  margin: 28px 20px;
  padding: 10px 20px 20px;
}

h1, h2, h3 {
	margin: 0;
	font-family: 'Averia Libre', cursive;
  font-size: 18px;
}

h1 {
  color: #0000ff;
  font-size: 50px;
  font-weight: bold;
}

h2 {
	border-top: 1px solid #aaccff;
  margin: 40px 0 4px;
  color: #0000aa;
  font-size: 28px;
}

h3 {
  margin: 20px 0 4px;
  color: #0000aa;
  font-size: 22px;
}

li {
	margin-top: 12px;
}

li > span:first-child {
	display: inline-block;
	margin-bottom: 6px;
}

div:first-child h2 {
	margin-top: 4px;
}

.cmd, .js, .url {
	font-family: Inconsolata, Courier New, Courier;
}

.cmd {
	background: #ddeeff;
	display: block;
	padding: 4px;
	margin-top: 4px;
	border: 1px solid #aaccff;
	border-radius: 4px;
}

li > .js:first-child {
	color: #0000ff;
}

.js > sub {
	font-family: Buenard, cursive;
	display: inline-block;
	margin-left: 4px;
	color: #000088;
}

